.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.header h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 1em;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 1em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}

.emoji-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.emoji-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.emoji-symbol {
  font-size: 1.5em;
  margin-right: 10px;
}

.emoji-message {
  font-size: 1em;
}
.footer {
  margin-top: 20px;
  font-size: 0.8em;
}

